<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.HelpMapper">

    <sql id="Base_Column_List">
        id
        ,name,content,type,img,location,longitude,latitude,time,user_id,phone,status,record_id
    </sql>

    <select id="selectAll" resultType="com.example.entity.Help">
        select
        help.*, user.name as userName
        from help
        left join user on help.user_id = user.id
        <where>
            <if test="name != null">and help.name like concat('%', #{name}, '%')</if>
            <if test="time != null">and help.time like concat('%', #{time}, '%')</if>
            <if test="userId != null">and help.user_id = #{userId}</if>
            <if test="status != null">and help.status like concat('%', #{status}, '%')</if>
            <if test="recordId != null">and help.record_id = #{recordId}</if>
        </where>
        order by help.id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Help">
        select help.*,
               user.name as userName
        from help
                 left join user on help.user_id = user.id
        where help.id = #{id}
    </select>

    <delete id="deleteById">
        delete
        from help
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Help" useGeneratedKeys="true" keyProperty="id">
        insert into help
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="content != null">content,</if>
            <if test="type != null">type,</if>
            <if test="img != null">img,</if>
            <if test="location != null">location,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="time != null">time,</if>
            <if test="userId != null">user_id,</if>
            <if test="phone != null">phone,</if>
            <if test="status != null">status,</if>
            <if test="recordId != null">record_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="content != null">#{content},</if>
            <if test="type != null">#{type},</if>
            <if test="img != null">#{img},</if>
            <if test="location != null">#{location},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="time != null">#{time},</if>
            <if test="userId != null">#{userId},</if>
            <if test="phone != null">#{phone},</if>
            <if test="status != null">#{status},</if>
            <if test="recordId != null">#{recordId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Help">
        update help
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="location != null">
                location = #{location},
            </if>
            <if test="longitude != null">
                longitude = #{longitude},
            </if>
            <if test="latitude != null">
                latitude = #{latitude},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="recordId != null">
                record_id = #{recordId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>